@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bootstrap Icons */
@import "bootstrap-icons/font/bootstrap-icons.css";

/* Font lokal */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
